* {
    margin : 0;
    padding: 0;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.board-background {
    background-color: black;
    height: 100vh;
    padding-top:1px;
    
}

.title {
    color:white;
    margin-top: 10%;
    text-align:center;
    
}

.display {
    color:white;
    text-align:center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20px;
}

.display span{
    color: red;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.box {
    display:flex;
    border: 1px solid white;
    min-height: 100px;
    min-width: 100px;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}
.x,
.o {
    cursor:default;
}

.x::after {
    content: 'X';
    color: white;
    font-size: 50px;
}

.o::after {
    content: 'O';
    color:white;
    font-size: 50px;
}

.control{
    align-items: center;
    display:flex;
    justify-content:center;
    margin-top: 1em;
}

#reset {
    padding: 8px;
    border:none;
    border-radius: 5px;
    background-color: red;
    color:white;
    cursor:pointer;
}
